body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: back 3.5s forwards;
          animation: back 3.5s forwards;
}

@-webkit-keyframes back {
  0% {
    background-color: none;
  }
  85% {
    background: none;
  }
  100% {
    background-color: #f3ee70;
  }
}

@keyframes back {
  0% {
    background-color: none;
  }
  85% {
    background: none;
  }
  100% {
    background-color: #f3ee70;
  }
}

.barcode-logo {
  margin-top: 200px;
  margin-bottom: 40px;
}

#red {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-animation: scan 3s forwards;
          animation: scan 3s forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes scan {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateX(-25px) rotate(90deg) scaleX(2.5);
            transform: translateX(-25px) rotate(90deg) scaleX(2.5);
  }
}

@keyframes scan {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateX(-25px) rotate(90deg) scaleX(2.5);
            transform: translateX(-25px) rotate(90deg) scaleX(2.5);
  }
}

#bar-button {
  -webkit-animation: appear 3.5s ease-in;
          animation: appear 3.5s ease-in;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0%;
  }
  98% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  98% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#bar-button:hover #box {
  -webkit-animation: button-change 0.5s forwards;
          animation: button-change 0.5s forwards;
}

#bar-button:hover #Title {
  -webkit-animation: title-change 0.3s forwards;
          animation: title-change 0.3s forwards;
}

@-webkit-keyframes button-change {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0.68);
            transform: scaleX(0.68);
  }
}

@keyframes button-change {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0.68);
            transform: scaleX(0.68);
  }
}

@-webkit-keyframes title-change {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes title-change {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
/*# sourceMappingURL=style.css.map */